

h1{
    color:rgb(0, 60, 255);
    background-color: khaki;
 
    border:solid;
    }

    h2{
     color:rgba(211, 58, 58, 0.974);
        background-color: rgb(149, 198, 82);
     
        border:solid;
        } 

h3{
    color:rgba(160, 58, 211, 0.974);   
background-color:rgb(93, 211, 219);
border:solid;
}

h4{
    color:rgba(211, 24, 24, 0.974);   
background-color:rgb(211, 156, 208);
border:solid;
}

.ROX{
    background-color:rgb(247, 161, 12);
    display:flex;
    justify-content:space-between;
    }